
// product single

body.single-product table.variations ul.addonify-vs-attributes-options li {

	margin-right: 10px;
}

body.single-product table.variations ul.addonify-vs-attributes-options li:last-child {

	margin-right: 0;
}

body.single-product div.product table.variations tbody tr td.value {

	margin-bottom: 15px;
}