.hide, .hidden{
    display: none !important;
}

ul.addonify-vs-attributes-options{
    list-style: none;
    margin: 0;
    padding: 0;
}


ul.addonify-vs-attributes-options-button{
    li{
        display: inline-block;
        padding: 3px 10px;
        border: 2px solid #b7b7b7;
        border-radius: 4px;
        cursor: pointer;
    }

    li.selected{
        border-color: blue;
    }
}


ul.addonify-vs-attributes-options-color{
    li{
        display: inline-block;
        // padding: 3px 10px;
        // border: 2px solid #b7b7b7;
        // border-radius: 4px;
        cursor: pointer;
    }

    // li.selected{
    //     border-color: blue;
    // }
}

ul.addonify-vs-attributes-options-circle{
    li{
        border-radius: 50%;
    }

}