.hide, .hidden{
    display: none !important;
}

body.archive{
    table.variations {
        td.label{
            display: none;
        }

        td{
            background: transparent !important;
            // padding: 0;
        }
    }
}

body.addonify-vs-attributes-style-rounded{
    ul.addonify-vs-attributes-options{
        li, li > *{
            border-radius: 50%;
        }
    }
    
    ul.addonify-vs-attributes-options-button{

        li{
            padding: 0 !important;
        }

        li > *{
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    
}

body.addonify-vs-disabled-blur_with_cross{
    ul.addonify-vs-attributes-options li.disabled{
        // background: rgba(255, 0, 0, 0.7) url(../../images/disabled-bck.svg) no-repeat center;
        background: url(../../images/disabled-bck.svg) no-repeat center;
        background-size: 100%;
        
        *{
            opacity: 0.4;
        }
    }
}

body.addonify-vs-disabled-blur_without_cross{
    ul.addonify-vs-attributes-options li.disabled{
        // background: rgba(255, 255, 255, 0.5);
        opacity: 0.5;
        
    }
}

body.addonify-vs-disabled-hide{
    ul.addonify-vs-attributes-options li.disabled{
        display: none !important;
    }
}


body.addonify-vs-archive-align-right {
    ul.addonify-vs-attributes-options {
        text-align: right !important;
    }
}


body.addonify-vs-archive-align-center {
    ul.addonify-vs-attributes-options {
        text-align: center !important;
    }
}


ul.addonify-vs-attributes-options{
    list-style: none;
    margin: 0;
    padding: 0;

    li{
        display: inline-block !important;
        border: 1px solid #b7b7b7;
        overflow: hidden;

        > *{
            margin: 2px !important;
        }
    }

    li.selected{
        border-width: 2px;
        border-color: blue;
    }

    li.disabled{
        cursor: no-drop;
    }
}


ul.addonify-vs-attributes-options-button{
    li{
        padding: 3px 10px;
        border: 2px solid #b7b7b7;
        border-radius: 4px;
        cursor: pointer;
    }

}


ul.addonify-vs-attributes-options-color{
    li{
        cursor: pointer;
        
        span{
            display: block;
        }
    }

}

ul.addonify-vs-attributes-options-circle{
    li{
        border-radius: 50%;
    }

}


ul.addonify-vs-attributes-options-image{
    li{
        display: inline-block !important;
        cursor: pointer;
    }

}

// view more attribute list item
li.addonify-vs-item-more{
    border-radius: 0 !important;
    border: 0 !important;
    height: 30px !important;
    font-size: 1em !important;
    background: none !important;
}