.hide, .hidden{
    display: none !important;
}

ul.addonify-vs-attributes-options{
    list-style: none;
    margin: 0;
    padding: 0;

    li{
        border: 1px solid #b7b7b7;

        > *{
            margin: 1px;
        }
    }

    li.selected{
        border-width: 2px;
        border-color: blue;
    }

    li.disabled{
        background: rgba(255, 0, 0, 0.7);
        cursor: no-drop;
        
        *{
            opacity: 0.4;
        }
    }
}


ul.addonify-vs-attributes-options-button{
    li{
        display: inline-block;
        padding: 3px 10px;
        border: 2px solid #b7b7b7;
        border-radius: 4px;
        cursor: pointer;
    }

}


ul.addonify-vs-attributes-options-color{
    li{
        cursor: pointer;
        display: inline-block;
        
        span{
            
            display: block;
        }
    }

}

ul.addonify-vs-attributes-options-circle{
    li{
        border-radius: 50%;
    }

}


ul.addonify-vs-attributes-options-image{
    li{
        display: inline-block;
        cursor: pointer;

        img{
            max-width: 100%;
            height: 100%;
        }
    }

}